
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
:root{
    --background: 
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body{
    height: 100vh;

}
header{
    height: 3rem;
}

.logo{
    width: 100%;
}
.logo-coco{
    width: 7rem;
}